body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    position: relative;
}

nav {
    width: 100%;
    background-color: #007BFF;
    padding: 15px 30px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: white;
    font-size: 1.5em;
    margin: 0;
}

nav button {
    background-color: white;
    color: #007BFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header {
    text-align: center;
    padding: 20px;
    margin-top: 60px; /* Adding space for the navbar */
}

h1 {
    font-size: 2.5em;
    color: #1d1d1d;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 0 10px; /* Margin on left and right for spacing */
    border: none;
    cursor: pointer;
}

.vote-now {
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

.admin-login {
    background-color: white;
    color: #1d1d1d;
    border: 1px solid #1d1d1d;
    border-radius: 5px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px; 
    width: 100%;
    padding: 0 10px;
}

.image-gallery img {
    width: 22vw;
    height: 225px;
    max-height: 50vh; 
    border-radius: 10px;
    object-fit: cover; 
}
