<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Voting Platform</title>
    <link rel="stylesheet"
     href="styles1.css">
</head>
<body>
    <header>
        <h1>Welcome to Our Online voting Platform</h1>
        <div class="buttons">
            <button class="vote-now" href = "/polls">Vote Now</button>
            <button class="admin-login">Sign in as an Admin</button>
        </div>
    </header>

    <section class="content">
        <div class="image-gallery">
            <img src="C:\Users\Tanish Gehlot\OneDrive\Desktop\Overnight\images\gettyimages-1401188903-2048x2048.jpg" alt="Voting Image">
            <img src="C:\Users\Tanish Gehlot\OneDrive\Desktop\Overnight\images\vote.jpg" alt="Website Design Image">
            <img src="https://via.placeholder.com/150" alt="Web Design">
            <img src="https://via.placeholder.com/150" alt="Application Form Image">
        </div>
    </section>
</body>
</html>
