body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin: 10px 0;
}

nav button {
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    color:black;
    background-color: white;
    cursor: pointer;
}

nav button:hover {
    background-color: #a8c8ed;
}

main {
    text-align: center;
    margin: 20px;
}

.candidates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.candidateButton {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;

    color: black;
    background-color: white;
    cursor: pointer;
}

.candidateButton:hover {
    background-color: #23a721;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007bff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
