element.style {
}
body {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    cursor: default;
    font-family: var(--default-font-family);
    font-size: 12px;
    tab-size: 4;
    user-select: none;
    color: var(--sys-color-on-surface);
    background: var(--sys-color-cdt-base-container);
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(41 42 45);
    }
}
* {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
html:not(#z) {
    --color-ref-primary0: #000000ff;
    --color-ref-primary10: #001f2aff;
    --color-ref-primary20: #003546ff;
    --color-ref-primary25: #004155ff;
    --color-ref-primary30: #004d64ff;
    --color-ref-primary40: #006684ff;
    --color-ref-primary50: #2280a1ff;
    --color-ref-primary60: #459abcff;
    --color-ref-primary70: #63b5d8ff;
    --color-ref-primary80: #80d1f5ff;
    --color-ref-primary90: #bde9ffff;
    --color-ref-primary95: #e0f4ffff;
    --color-ref-primary99: #fafcffff;
    --color-ref-primary100: #ffffffff;
    --color-ref-secondary0: #000000ff;
    --color-ref-secondary10: #081e27ff;
    --color-ref-secondary12: #0d222bff;
    --color-ref-secondary15: #132831ff;
    --color-ref-secondary20: #1f333cff;
    --color-ref-secondary25: #2a3e48ff;
    --color-ref-secondary30: #354a53ff;
    --color-ref-secondary35: #41555fff;
    --color-ref-secondary40: #4d616cff;
    --color-ref-secondary50: #657a85ff;
    --color-ref-secondary60: #7f949fff;
    --color-ref-secondary70: #99aebaff;
    --color-ref-secondary80: #b4cad6ff;
    --color-ref-secondary90: #d0e6f2ff;
    --color-ref-secondary95: #e0f4ffff;
    --color-ref-secondary99: #fafcffff;
    --color-ref-secondary100: #ffffffff;
    --color-ref-tertiary0: #000000ff;
    --color-ref-tertiary10: #191836ff;
    --color-ref-tertiary20: #2f2d4dff;
    --color-ref-tertiary30: #454364ff;
    --color-ref-tertiary40: #5d5b7dff;
    --color-ref-tertiary50: #767397ff;
    --color-ref-tertiary60: #908db2ff;
    --color-ref-tertiary70: #aaa7ceff;
    --color-ref-tertiary80: #c6c2eaff;
    --color-ref-tertiary90: #e3dfffff;
    --color-ref-tertiary95: #f3eeffff;
    --color-ref-tertiary99: #fffbffff;
    --color-ref-tertiary100: #ffffffff;
    --color-ref-error0: #000000ff;
    --color-ref-error10: #410002ff;
    --color-ref-error20: #690005ff;
    --color-ref-error30: #93000aff;
    --color-ref-error40: #ba1a1aff;
    --color-ref-error50: #de3730ff;
Show all properties (1243 more)
}
constructed stylesheet
:root {
    --image-file-accelerometer-bottom: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/accelerometer-bottom.png);
    --image-file-accelerometer-left: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/accelerometer-left.png);
    --image-file-accelerometer-right: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/accelerometer-right.png);
    --image-file-accelerometer-top: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/accelerometer-top.png);
    --image-file-chromeLeft: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/chromeLeft.avif);
    --image-file-chromeMiddle: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/chromeMiddle.avif);
    --image-file-chromeRight: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/chromeRight.avif);
    --image-file-cssoverview_icons_2x: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/cssoverview_icons_2x.avif);
    --image-file-navigationControls_2x: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/navigationControls_2x.png);
    --image-file-navigationControls: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/navigationControls.png);
    --image-file-nodeIcon: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/nodeIcon.avif);
    --image-file-popoverArrows: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/popoverArrows.png);
    --image-file-toolbarResizerVertical: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/toolbarResizerVertical.png);
    --image-file-touchCursor_2x: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/touchCursor_2x.png);
    --image-file-touchCursor: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/touchCursor.png);
    --image-file-whatsnew: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/whatsnew.avif);
    --image-file-3d-center: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/3d-center.svg);
    --image-file-3d-pan: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/3d-pan.svg);
    --image-file-3d-rotate: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/3d-rotate.svg);
    --image-file-accelerometer-back: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/accelerometer-back.svg);
    --image-file-accelerometer-front: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/accelerometer-front.svg);
    --image-file-account-box: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/account-box.svg);
    --image-file-align-content-center: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-content-center.svg);
    --image-file-align-content-end: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-content-end.svg);
    --image-file-align-content-space-around: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-content-space-around.svg);
    --image-file-align-content-space-between: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-content-space-between.svg);
    --image-file-align-content-space-evenly: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-content-space-evenly.svg);
    --image-file-align-content-start: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-content-start.svg);
    --image-file-align-content-stretch: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-content-stretch.svg);
    --image-file-align-items-baseline: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-items-baseline.svg);
    --image-file-align-items-center: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-items-center.svg);
    --image-file-align-items-end: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-items-end.svg);
    --image-file-align-items-start: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-items-start.svg);
    --image-file-align-items-stretch: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-items-stretch.svg);
    --image-file-align-self-center: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-self-center.svg);
    --image-file-align-self-end: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-self-end.svg);
    --image-file-align-self-start: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-self-start.svg);
    --image-file-align-self-stretch: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/align-self-stretch.svg);
    --image-file-arrow-back: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/arrow-back.svg);
    --image-file-arrow-down: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/arrow-down.svg);
    --image-file-arrow-drop-down-dark: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/arrow-drop-down-dark.svg);
    --image-file-arrow-drop-down-light: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/arrow-drop-down-light.svg);
    --image-file-arrow-forward: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/arrow-forward.svg);
    --image-file-arrow-up-down-circle: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/arrow-up-down-circle.svg);
    --image-file-arrow-up-down: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/arrow-up-down.svg);
    --image-file-arrow-up: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/arrow-up.svg);
    --image-file-bell: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/bell.svg);
    --image-file-bezier-curve-filled: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/bezier-curve-filled.svg);
    --image-file-bin: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/bin.svg);
    --image-file-bottom-panel-close: url(devtools://devtools/bundled/devtools-frontend/front_end/Images/bottom-panel-close.svg);
Show all properties (200 more)
}
:root {
    --ref-palette-primary0: var(--color-ref-primary0, rgb(0 0 0 / 100%));
    --ref-palette-primary10: var(--color-ref-primary10, rgb(4 30 73 / 100%));
    --ref-palette-primary20: var(--color-ref-primary20, rgb(6 46 111 / 100%));
    --ref-palette-primary30: var(--color-ref-primary30, rgb(8 66 160 / 100%));
    --ref-palette-primary40: var(--color-ref-primary40, rgb(11 87 208 / 100%));
    --ref-palette-primary50: var(--color-ref-primary50, rgb(27 110 243 / 100%));
    --ref-palette-primary60: var(--color-ref-primary60, rgb(76 141 246 / 100%));
    --ref-palette-primary70: var(--color-ref-primary70, rgb(124 172 248 / 100%));
    --ref-palette-primary80: var(--color-ref-primary80, rgb(168 199 250 / 100%));
    --ref-palette-primary90: var(--color-ref-primary90, rgb(211 227 253 / 100%));
    --ref-palette-primary95: var(--color-ref-primary95, rgb(236 243 254 / 100%));
    --ref-palette-primary99: var(--color-ref-primary99, rgb(250 251 255 / 100%));
    --ref-palette-primary100: var(--color-ref-primary100, rgb(255 255 255 / 100%));
    --ref-palette-secondary0: var(--color-ref-secondary0, rgb(0 0 0 / 100%));
    --ref-palette-secondary10: var(--color-ref-secondary10, rgb(0 29 53 / 100%));
    --ref-palette-secondary15: var(--color-ref-secondary15, rgb(0 40 69 / 100%));
    --ref-palette-secondary20: var(--color-ref-secondary20, rgb(0 51 85 / 100%));
    --ref-palette-secondary25: var(--color-ref-secondary25, rgb(0 63 102 / 100%));
    --ref-palette-secondary30: var(--color-ref-secondary30, rgb(0 74 119 / 100%));
    --ref-palette-secondary35: var(--color-ref-secondary35, rgb(0 87 137 / 100%));
    --ref-palette-secondary40: var(--color-ref-secondary40, rgb(0 99 155 / 100%));
    --ref-palette-secondary50: var(--color-ref-secondary50, rgb(4 125 183 / 100%));
    --ref-palette-secondary60: var(--color-ref-secondary60, rgb(57 152 211 / 100%));
    --ref-palette-secondary70: var(--color-ref-secondary70, rgb(90 179 240 / 100%));
    --ref-palette-secondary80: var(--color-ref-secondary80, rgb(127 207 255 / 100%));
    --ref-palette-secondary90: var(--color-ref-secondary90, rgb(223 243 255 / 100%));
    --ref-palette-secondary95: var(--color-ref-secondary95, rgb(223 243 255 / 100%));
    --ref-palette-secondary99: var(--color-ref-secondary99, rgb(247 252 255 / 100%));
    --ref-palette-secondary100: var(--color-ref-secondary100, rgb(255 255 255 / 100%));
    --ref-palette-tertiary0: var(--color-ref-tertiary0, rgb(0 0 0 / 100%));
    --ref-palette-tertiary10: var(--color-ref-tertiary10, rgb(7 39 17 / 100%));
    --ref-palette-tertiary20: var(--color-ref-tertiary20, rgb(10 56 24 / 100%));
    --ref-palette-tertiary30: var(--color-ref-tertiary30, rgb(15 82 35 / 100%));
    --ref-palette-tertiary40: var(--color-ref-tertiary40, rgb(20 108 46 / 100%));
    --ref-palette-tertiary50: var(--color-ref-tertiary50, rgb(25 134 57 / 100%));
    --ref-palette-tertiary60: var(--color-ref-tertiary60, rgb(30 164 70 / 100%));
    --ref-palette-tertiary70: var(--color-ref-tertiary70, rgb(55 190 95 / 100%));
    --ref-palette-tertiary80: var(--color-ref-tertiary80, rgb(109 213 140 / 100%));
    --ref-palette-tertiary90: var(--color-ref-tertiary90, rgb(196 238 208 / 100%));
    --ref-palette-tertiary95: var(--color-ref-tertiary95, rgb(231 248 237 / 100%));
    --ref-palette-tertiary99: var(--color-ref-tertiary99, rgb(242 255 238 / 100%));
    --ref-palette-tertiary100: var(--color-ref-tertiary100, rgb(255 255 255 / 100%));
    --ref-palette-error0: var(--color-ref-error0, rgb(0 0 0 / 100%));
    --ref-palette-error10: var(--color-ref-error10, rgb(65 14 11 / 100%));
    --ref-palette-error20: var(--color-ref-error20, rgb(96 20 16 / 100%));
    --ref-palette-error30: var(--color-ref-error30, rgb(140 29 24 / 100%));
    --ref-palette-error40: var(--color-ref-error40, rgb(179 38 30 / 100%));
    --ref-palette-error50: var(--color-ref-error50, rgb(220 54 46 / 100%));
    --ref-palette-error60: var(--color-ref-error60, rgb(228 105 98 / 100%));
    --ref-palette-error70: var(--color-ref-error70, rgb(236 146 142 / 100%));
Show all properties (139 more)
}
.theme-with-dark-background {
    --color-primary-old: rgb(138 180 248);
    --color-primary-variant: rgb(102 157 246);
    --color-background: rgb(32 33 36);
    --color-background-inverted: rgb(255 255 255);
    --color-background-inverted-opacity-2: rgb(255 255 255 / 2%);
    --color-background-inverted-opacity-30: rgb(255 255 255 / 30%);
    --color-background-inverted-opacity-50: rgb(255 255 255 / 50%);
    --color-background-opacity-50: rgb(32 33 36 / 50%);
    --color-background-opacity-80: rgb(32 33 36 / 80%);
    --color-background-elevation-0: rgb(32 32 35);
    --color-background-elevation-1: rgb(41 42 45);
    --color-background-elevation-2: rgb(53 54 58);
    --color-background-elevation-dark-only: var(--color-background-elevation-1);
    --color-background-highlight: rgb(69 69 69);
    --divider-line: rgb(255 255 255 / 10%);
    --color-background-hover-overlay: rgb(56 121 217 / 10%);
    --color-selection-highlight: rgb(251 202 70 / 20%);
    --color-selection-highlight-border: rgb(251 202 70);
    --color-match-highlight: rgb(56 121 217 / 35%);
    --color-text-primary: rgb(232 234 237);
    --color-text-secondary: rgb(154 160 166);
    --color-text-secondary-selected: rgb(188 185 182);
    --color-text-disabled: rgb(128 134 139);
    --color-details-hairline: rgb(73 76 80);
    --color-details-hairline-light: rgb(54 57 59);
    --color-accent-red: rgb(242 139 130);
    --color-red: rgb(237 78 76);
    --color-accent-green: rgb(129 201 149);
    --color-link: var(--color-primary-old);
    --color-syntax-1: rgb(53 212 199);
    --color-syntax-2: rgb(93 176 215);
    --color-syntax-3: rgb(242 151 102);
    --color-syntax-4: rgb(155 187 220);
    --color-syntax-5: rgb(132 240 255);
    --color-syntax-6: rgb(171 171 171);
    --color-syntax-7: rgb(207 208 208);
    --color-syntax-8: rgb(93 176 215);
    --drop-shadow: 0 0 0 1px rgb(255 255 255 / 20%), 0 2px 4px 2px rgb(0 0 0 / 20%), 0 2px 6px 2px rgb(0 0 0 / 10%);
    --drop-shadow-depth-1: 0 1px 2px rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%);
    --drop-shadow-depth-2: 0 1px 2px rgb(0 0 0 / 30%), 0 2px 6px 2px rgb(0 0 0 / 15%);
    --drop-shadow-depth-3: 0 4px 8px 3px rgb(0 0 0 / 15%), 0 1px 3px rgb(0 0 0 / 30%);
    --drop-shadow-depth-4: 0 6px 10px 4px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 30%);
    --drop-shadow-depth-5: 0 8px 12px 6px rgb(0 0 0 / 15%), 0 4px 4px rgb(0 0 0 / 30%);
    --box-shadow-outline-color: rgb(0 0 0 / 50%);
    --color-scrollbar-mac: rgb(51 51 51);
    --color-scrollbar-mac-hover: rgb(75 76 79);
    --color-scrollbar-other: rgb(51 51 51);
    --color-scrollbar-other-hover: rgb(75 76 79);
    --color-error-text: hsl(0deg 100% 75%);
    --color-selected-option: #fff;
Show all properties (162 more)
}
:root {
    --color-primary-old: rgb(26 115 232);
    --color-primary-variant: rgb(66 133 244);
    --color-background: rgb(255 255 255);
    --color-background-inverted: rgb(0 0 0);
    --color-background-inverted-opacity-0: rgb(0 0 0 / 0%);
    --color-background-inverted-opacity-2: rgb(0 0 0 / 2%);
    --color-background-inverted-opacity-30: rgb(0 0 0 / 30%);
    --color-background-inverted-opacity-50: rgb(0 0 0 / 50%);
    --color-background-opacity-50: rgb(255 255 255 / 50%);
    --color-background-opacity-80: rgb(255 255 255 / 80%);
    --color-background-elevation-0: rgb(248 249 249);
    --color-background-elevation-1: rgb(241 243 244);
    --color-background-elevation-2: rgb(222 225 230);
    --color-background-elevation-dark-only: var(--color-background);
    --color-background-highlight: rgb(218 220 224);
    --divider-line: rgb(0 0 0 / 10%);
    --color-background-hover-overlay: rgb(56 121 217 / 10%);
    --color-selection-highlight: rgb(56 121 217 / 30%);
    --color-selection-highlight-border: rgb(16 81 177);
    --color-match-highlight: rgb(56 121 217 / 20%);
    --color-text-primary: rgb(32 33 36);
    --color-text-secondary: rgb(95 99 104);
    --color-text-secondary-selected: rgb(188 185 182);
    --color-text-disabled: rgb(128 134 139);
    --color-details-hairline: rgb(202 205 209);
    --color-details-hairline-light: rgb(223 225 227);
    --color-accent-red: rgb(217 48 37);
    --color-red: rgb(238 68 47);
    --color-accent-green: rgb(24 128 56);
    --color-green: rgb(99 172 190);
    --color-link: var(--color-primary-old);
    --color-syntax-1: rgb(200 0 0);
    --color-syntax-2: rgb(136 18 128);
    --color-syntax-3: rgb(26 26 166);
    --color-syntax-4: rgb(153 69 0);
    --color-syntax-5: rgb(132 240 255);
    --color-syntax-6: rgb(35 110 37);
    --color-syntax-7: rgb(48 57 66);
    --color-syntax-8: rgb(168 148 166);
    --drop-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 4px rgb(0 0 0 / 20%), 0 2px 6px rgb(0 0 0 / 10%);
    --drop-shadow-depth-1: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --drop-shadow-depth-2: 0 1px 2px rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    --drop-shadow-depth-3: 0 4px 8px 3px rgb(60 64 67 / 15%), 0 1px 3px rgb(60 64 67 / 30%);
    --drop-shadow-depth-4: 0 6px 10px 4px rgb(60 64 67 / 15%), 0 2px 3px rgb(60 64 67 / 30%);
    --drop-shadow-depth-5: 0 8px 12px 6px rgb(60 64 67 / 15%), 0 4px 4px rgb(60 64 67 / 30%);
    --box-shadow-outline-color: rgb(0 0 0 / 50%);
    --color-scrollbar-mac: rgb(143 143 143 / 60%);
    --color-scrollbar-mac-hover: rgb(64 64 64 / 60%);
    --color-scrollbar-other: rgb(0 0 0 / 50%);
    --color-scrollbar-other-hover: rgb(0 0 0 / 50%);
Show all properties (182 more)
}
.platform-windows, :host-context(.platform-windows) {
    --monospace-font-size: 12px;
    --monospace-font-family: monospace;
    --source-code-font-size: 12px;
    --source-code-font-family: monospace;
}
.platform-windows {
    --default-font-family: system-ui, sans-serif;
}
.theme-with-dark-background {
    color-scheme: dark;
    --legacy-accent-color: #0e639c;
    --legacy-accent-fg-color: #ccc;
    --legacy-accent-fg-color-hover: #fff;
    --legacy-accent-color-hover: rgb(17 119 187);
    --legacy-active-control-bg-color: #cdcdcd;
    --legacy-focus-bg-color: hsl(214deg 19% 27%);
    --legacy-focus-ring-inactive-shadow-color: #5a5a5a;
    --legacy-toolbar-hover-bg-color: #202020;
    --legacy-selection-fg-color: #cdcdcd;
    --legacy-selection-inactive-fg-color: #cdcdcd;
    --legacy-selection-inactive-bg-color: hsl(0deg 0% 28%);
    --legacy-focus-ring-inactive-shadow: 0 0 0 1px var(--legacy-focus-ring-inactive-shadow-color);
    --legacy-item-selection-bg-color: hsl(207deg 88% 22%);
    --legacy-item-selection-inactive-bg-color: #454545;
}
:root {
    height: 100%;
    overflow: hidden;
    --legacy-accent-color: #1a73e8;
    --legacy-accent-fg-color: #1a73e8;
    --legacy-accent-color-hover: #3b86e8;
    --legacy-accent-fg-color-hover: #1567d3;
    --legacy-active-control-bg-color: #5a5a5a;
    --legacy-focus-bg-color: hsl(214deg 40% 92%);
    --legacy-focus-ring-inactive-shadow-color: #e0e0e0;
    --legacy-input-validation-error: #db1600;
    --legacy-toolbar-hover-bg-color: #eaeaea;
    --legacy-selection-fg-color: #fff;
    --legacy-selection-bg-color: var(--legacy-accent-color);
    --legacy-selection-inactive-fg-color: #5a5a5a;
    --legacy-selection-inactive-bg-color: #dadada;
    --legacy-divider-border: 1px solid var(--sys-color-divider);
    --legacy-focus-ring-inactive-shadow: 0 0 0 1px var(--legacy-focus-ring-inactive-shadow-color);
    --legacy-focus-ring-active-shadow: 0 0 0 1px var(--legacy-accent-color);
    --legacy-item-selection-bg-color: #cfe8fc;
    --legacy-item-selection-inactive-bg-color: #e0e0e0;
    --monospace-font-size: 10px;
    --monospace-font-family: monospace;
    --source-code-font-size: 11px;
    --source-code-font-family: monospace;
    --sys-motion-duration-short4: 200ms;
    --sys-motion-duration-medium2: 300ms;
    --sys-motion-duration-long2: 500ms;
    --sys-motion-easing-emphasized: cubic-bezier(0.2,0,0,1);
    --sys-motion-easing-emphasized-decelerate: cubic-bezier(0.05,0.7,0.1,1);
    --sys-motion-easing-emphasized-accelerate: cubic-bezier(0.2,0,0,1);
    --default-font-family: ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande", sans-serif;
}
:root {
    --ref-typeface-weight-regular: 400;
    --ref-typeface-weight-medium: 500;
    --ref-typeface-weight-bold: 700;
    --sys-elevation-level1: 0 1px 2px 0 rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%);
    --sys-elevation-level2: 0 1px 2px 0 rgb(0 0 0 / 30%), 0 2px 6px 2px rgb(0 0 0 / 15%);
    --sys-elevation-level3: 0 4px 8px 3px rgb(0 0 0 / 15%), 0 1px 3px 0 rgb(0 0 0 / 30%);
    --sys-elevation-level4: 0 6px 10px 4px rgb(0 0 0 / 15%), 0 2px 3px 0 rgb(0 0 0 / 30%);
    --sys-elevation-level5: 0 8px 12px 6px rgb(0 0 0 / 15%), 0 4px 4px 0 rgb(0 0 0 / 30%);
    --sys-size-1: 1px;
    --sys-size-2: 0.125rem;
    --sys-size-3: 0.25rem;
    --sys-size-4: 0.375rem;
    --sys-size-5: 0.5rem;
    --sys-size-6: 0.75rem;
    --sys-size-7: 0.875rem;
    --sys-size-8: 1rem;
    --sys-size-9: 1.25rem;
    --sys-size-10: 1.375rem;
    --sys-size-11: 1.5rem;
    --sys-size-12: 1.75rem;
    --sys-size-13: 2rem;
    --sys-size-14: 2.5rem;
    --sys-size-15: 2.75rem;
    --sys-size-16: 3rem;
    --sys-size-17: 3.5rem;
    --sys-size-18: 4rem;
    --sys-size-19: 6rem;
    --sys-size-20: 7rem;
    --sys-size-21: 8rem;
    --sys-size-22: 9rem;
    --sys-size-23: 10rem;
    --sys-size-24: 11rem;
    --sys-size-25: 12rem;
    --sys-size-26: 13rem;
    --sys-size-27: 14rem;
    --sys-size-28: 15rem;
    --sys-size-29: 16rem;
    --sys-size-30: 18rem;
    --sys-size-31: 20rem;
    --sys-size-32: 24rem;
    --sys-size-33: 28rem;
    --sys-size-34: 32rem;
    --sys-size-35: 36rem;
    --sys-size-36: 42rem;
    --sys-size-37: 48rem;
    --sys-size-38: 56rem;
    --sys-size-39: 64rem;
    --sys-size-40: 72rem;
    --sys-size-41: 80rem;
    --sys-shape-corner-extra-small: 4px;
Show all properties (49 more)
}
:root {
    --icon-action: var(--sys-color-primary-bright);
    --icon-arrow-main-thread: var(--sys-color-primary-bright);
    --icon-checkmark-green: var(--sys-color-green-bright);
    --icon-checkmark-purple: var(--sys-color-purple-bright);
    --icon-checkmark-red: var(--sys-color-error-bright);
    --icon-contrast-issue: var(--sys-color-error-bright);
    --icon-default: var(--sys-color-on-surface-subtle);
    --icon-default-hover: var(--sys-color-on-surface);
    --icon-disabled: var(--sys-color-state-disabled);
    --icon-error: var(--sys-color-error-bright);
    --icon-file-authored: var(--sys-color-orange-bright);
    --icon-file-default: var(--sys-color-on-surface-subtle);
    --icon-file-document: var(--sys-color-blue-bright);
    --icon-file-font: var(--sys-color-cyan-bright);
    --icon-file-media: var(--sys-color-green-bright);
    --icon-file-image: var(--sys-color-green-bright);
    --icon-file-script: var(--sys-color-orange-bright);
    --icon-file-styles: var(--sys-color-purple-bright);
    --icon-fold-marker: var(--sys-color-on-surface-subtle);
    --icon-folder-authored: var(--sys-color-orange);
    --icon-folder-primary: var(--sys-color-on-surface-subtle);
    --icon-folder-deployed: var(--sys-color-primary-bright);
    --icon-folder-workspace: var(--sys-color-orange);
    --icon-force-white: var(--sys-color-on-tonal-container);
    --icon-gap-focus-selected: var(--sys-color-tonal-container);
    --icon-gap-default: var(--sys-color-cdt-base-container);
    --icon-gap-inactive: var(--sys-color-neutral-container);
    --icon-gap-hover: var(--sys-color-state-hover-on-subtle);
    --icon-gap-toolbar: var(--sys-color-surface1);
    --icon-gap-toolbar-hover: var(--sys-color-state-header-hover);
    --icon-info: var(--sys-color-primary-bright);
    --icon-link: var(--sys-color-primary-bright);
    --icon-no-request: var(--sys-color-orange-bright);
    --icon-primary: var(--sys-color-primary-bright);
    --icon-record: var(--sys-color-error-bright);
    --icon-request-response: var(--sys-color-primary-bright);
    --icon-request: var(--sys-color-on-surface-subtle);
    --icon-security-lock: var(--sys-color-green-bright);
    --icon-css: var(--sys-color-purple-bright);
    --icon-css-hover: var(--sys-color-purple);
    --icon-status-code-ok: var(--sys-color-tertiary-bright);
    --icon-stop: var(--sys-color-error-bright);
    --icon-toggled: var(--sys-color-primary-bright);
    --icon-warning: var(--sys-color-orange-bright);
    --ui-text: var(--sys-color-on-surface-subtle);
    --text-disabled: var(--ref-palette-neutral60);
    --text-primary: var(--sys-color-on-surface);
    --text-secondary: var(--sys-color-token-subtle);
    --text-link: var(--sys-color-primary);
    --color-grid-stripe: var(--sys-color-surface1);